@import url(http://fonts.googleapis.com/css?family=Nixie+One);
@import url(http://fonts.googleapis.com/css?family=Vast+Shadow);

body {
	background-color: #eeeeee;
	font-family: "helvetica";
	margin: 0;
	height: 100%;
	position: relative;
}
.wrapper {
min-height: 100%;
min-width: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -3.7em;
}

header {
	height: 6%;
	width: 100%;
	padding: 2%;
	background-color: #142C44;
	/*background-image: url('../img/one_bright_bulb.jpg');*/
	color: linen;
	margin-top: 0px;
	text-align: center;
	-webkit-box-shadow: 0px 5px 21px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 21px -5px rgba(0,0,0,0.75);
box-shadow: 0px 5px 21px -5px rgba(0,0,0,0.75);
}

header h2 {
	height:99%;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 45px;
	line-height: 30px;
	color: #e5ca9d;
font-family: 'Nixie One', 'Times New Roman', Times, serif;
font-size: 3.0em;
font-weight: 400;

/*	font-family: 'helvetica','Arial Black';
	font-family: 'Nixie One', cursive, !important;
	font-style: normal;
	font-weight: 400;*/
	vertical-align: middle;
}

#feed {
	background-color: none;
	margin: 4% auto;
	color: #4C4C5A;
	padding: 2%;
	padding-bottom: 4%;
	border-radius: 4px;
	width: 80%;
	vertical-align: middle;
}
.entry {
border-radius: 4px;
box-shadow: 3px 3px 3px #888888;
border: grey solid 2px;
background: #fbfaf9;
padding: 1%;
width: 96%;
}

ul
{
    list-style-type: none;
    inline: block;
}

.title {
	padding-bottom: 3%;
}

li .arrow {min-width: 100%;
	height: 20%;
	padding: 20%;
	margin-right: 5%;
}

.hide {
	display: none;
}

.show {
	background-color: linen;
	margin: 2% auto;
	color: #4C4C5A;
	padding: 2%;
	border-radius: 4px;
	width: 80%;
}

.show .openInTed {
	background-color: black;
	clear: both;
	margin: 0 auto;
}

/*.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }*/

footer {
	height: 3%;
	width: 100%;
	padding: 2%;
	background-color: #142C44;
	color: linen;
	margin-bottom: 0px;
	text-align: center;
	/*position: fixed;
	overflow: hidden;*/
	
}

footer h5 {
	font-family: 'helvetica', 'Arial Black';
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: middle;
	width: 100%;
}

a {
	color: linen;
	font-family: 'helvetica';
}

a:link {
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.arrow .openInTed {
	text-decoration: none;
	color: orange;
	background-color: black;
	border-radius: 25px;
	box-shadow: 2px 2px 2px #888888; 
	margin: 0 auto;
	padding: 1% 2%;
}

ul .arrow {
	background-color: #fbfaf9;
	height: 7%;
	margin-left: -1%;
}

