@import url(http://fonts.googleapis.com/css?family=Vast+Shadow);

body {
	background-color: FFCC66;
	font-family: "helvetica";
	margin: 0;
	height: 100%;
}
.wrapper {
min-height: 100%;
min-width: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -3.7em;
}

header {
	height: 5%;
	width: 100%;
	padding: 2%;
	background-color: black;
	color: linen;
	margin-top: 0px;
	text-align: center;
}

header h2 {
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 45px;
	line-height: 30px;
	font-family: 'helvetica','Arial Black';
	font-family: 'Vast Shadow' !important;
	font-style: normal;
	font-weight: 400;
	vertical-align: middle;
}

#feed {
	background-color: linen;
	margin: 3% auto;
	color: #4C4C5A;
	padding: 2%;
	border-radius: 4px;
	width: 80%;
	vertical-align: middle;
}

.details {
	display: none;
}

.details-show {
	background-color: linen;
	margin: 3% auto;
	color: #4C4C5A;
	padding: 2%;
	border-radius: 4px;
	width: 80%;
}

footer {
	height: 3%;
	width: 100%;
	padding: 2%;
	background-color: black;
	color: linen;
	margin-bottom: 0px;
	text-align: center;
}

footer h5 {
	font-family: 'Arial Black';
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: middle;
	width: 100%;
}

a {
	color: linen;
	font-family: 'helvetica';
}

a:link {
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
