@import url(http://fonts.googleapis.com/css?family=Vast+Shadow);

body {
	background-color: FFCC66;
	font-family: "helvetica";
	margin: 0;
	height: 100%;
}

header {
	height: 6%;
	width: 100%;
	padding: 2%;
	background-color: black;
	color: linen;
	margin-top: 0px;
	text-align: center;
}

header h2 {
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 45px;
	line-height: 30px;
	font-family: 'Arial Black', 'helvetica';
	font-family: 'Vast Shadow' !important;
	font-style: normal;
	font-weight: 400;
	vertical-align: middle;
}

#feed {
	background-color: linen;
	margin: 3% auto;
	color: #4C4C5A;
	padding: 2%;
	border-radius: 4px;
	width: 80%;
}

#details {
	background-color: linen;
	margin: 3% auto;
	color: #4C4C5A;
	padding: 2%;
	border-radius: 4px;
	width: 80%;
}

footer {
	height: 5%;
	width: 100%;
	padding: 2%;
	background-color: black;
	color: linen;
	margin-bottom: 0px;
	text-align: center;
}

footer h5 {
	font-family: 'Arial Black';
	margin-top: 0px;
	margin-bottom: 0px;
}

footer.a {
	color: rgb(75 22 137);
